.custom-loader-component {
    padding: 10px;
    border-color: var(--var-color-component-advanced);
    height: 40px;
    width: 40px;
    margin-top: 20px;
    border-bottom: 2px solid var(--var-color-component-advanced);
}